nmchallenge/force-app/main/default/flows/SendCustomerEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendDutchEmail</name>
        <label>sendDutchEmail</label>
        <locationX>360</locationX>
        <locationY>317</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>setEmailSended</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyMailDutchFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>$Label.subjectEmailDutch</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendEmailEng</name>
        <label>sendEmailEng</label>
        <locationX>351</locationX>
        <locationY>507</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>setEmailSended</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyEmailEngFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>$Label.subjectEmailEng</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>setEmailSended</name>
        <label>setEmailSended</label>
        <locationX>473</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>$Record.is_customer_reminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isDutchDecision</name>
        <label>isDutchDecision</label>
        <locationX>227</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>sendEmailEng</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isDutch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Lang__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dutch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendDutchEmail</targetReference>
            </connector>
            <label>isDutch</label>
        </rules>
    </decisions>
    <formulas>
        <name>bodyEmailEngFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Dear &apos; + {!$Record.Account.FirstName} + &apos; &apos; + {!$Record.Account.LastName} + {!$Label.bodyEmailEng}</expression>
    </formulas>
    <formulas>
        <name>bodyMailDutchFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Beste &apos; + {!$Record.Account.FirstName} + &apos; &apos; + {!$Record.Account.LastName} + {!$Label.bodyEmailDutch}</expression>
    </formulas>
    <interviewLabel>SendCustomerEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SendCustomerEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateAction</name>
        <label>updateAction</label>
        <locationX>593</locationX>
        <locationY>316</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>110</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>isDutchDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>is_customer_reminder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>is_time_to_send_reminder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-12-09</startDate>
            <startTime>13:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
